.kg-containers {
    .header-content {
        .title-header {
            font-family: 'Cabin';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #454545;
        }
    }

    .filter-content {
        margin-top: 20px;
    }

    .desc-page {
        font-family: 'Cabin';
        font-weight: 400;
        font-size: 16px;
        color: #757575;
    }

    .body-content {
        margin-top: 20px;

        .k-table {
            border: 1px solid #c3ced9 !important;
            border-radius: 10px !important;

            .k-circle {
                width: 11px;
                height: 11px;
                border: 2px solid #7bbc49;
                border-radius: 50%;
                margin-right: 13px;
            }

            .k-title {
                font-family: 'Cabin';
                font-weight: 500;
                font-size: 16px;
                color: #454545;
            }

            .k-subtitle {
                font-family: 'Cabin';
                font-weight: 400;
                font-size: 14px;
                color: #757575;
            }

            .title-tabel {
                font-family: 'Cabin';
                font-weight: 400;
                font-size: 16px;
                color: #454545;
            }

            .status-card {
                font-family: 'Cabin';
                color: #7bbc49;
                font-weight: 400;
                font-size: 14px;
                background: #ecf5e5;
                border-radius: 5px;
                height: 34px;
                margin-top: 10px;
                width: 80px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 100px;
            }

            .btn-icon {
                height: 100%;
                padding: 10px;
                width: 40px;
                background: #ffffff;
                border: 1px solid #e2e2e2;
                border-radius: 5px;
                // margin-left: 10px;
                cursor: pointer;
                margin-right: 10px;
            }

            .btn-icon:hover {
                background-color: rgb(243 244 246);
            }

            .no-data {
                .title-1 {
                    font-family: 'Cabin';
                    font-weight: 600;
                    font-size: 20px;
                    color: #454545;
                    line-height: 24px;
                }

                .subtitle-1 {
                    font-family: 'Cabin';
                    font-weight: 400;
                    font-size: 16px;
                    color: #757575;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    line-height: 24px;
                }

                .save-btn {
                    width: 220px;
                    background: #ffffff;
                    border: 1px solid #1b63d4;
                    color: #1b63d4;
                    border-radius: 5px;
                    height: 40px;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-left: 10px;
                    margin-bottom: 100px;
                    line-height: normal !important;
                    cursor: pointer;

                    .name-btn {
                        font-family: 'Cabin';
                        font-weight: 700;
                        font-size: 14px;
                        padding-bottom: 1px;
                        color: #1b63d4;
                        padding-left: 10px;
                    }
                }

                .save-btn:hover {
                    background-color: rgb(243 244 246);
                }
            }
        }

        .k-pagination {
            margin-top: 20px;
            margin-bottom: 20px;

            .k-btn {
                width: 165px;
                background: #f1f1f1;
                border: 1px solid #f1f1f1;
                border-radius: 5px;
                height: 40px;
                padding-left: 15px;
                padding-right: 15px;
                cursor: pointer;

                .name-btn {
                    font-family: 'Cabin';
                    font-weight: 700;
                    font-size: 14px;
                    padding-bottom: 1px;
                    color: #9a9a9a;
                    padding-left: 10px;
                }
            }

            .k-btn:hover {
                background-color: rgb(243 244 246);
                border: 0px;
            }
        }
    }

    .no-data {
        .title-1 {
            font-family: 'Cabin';
            font-weight: 600;
            font-size: 20px;
            color: #454545;
            line-height: 24px;
        }

        .subtitle-1 {
            font-family: 'Cabin';
            font-weight: 400;
            font-size: 16px;
            color: #757575;
            margin-top: 20px;
            margin-bottom: 20px;
            line-height: 24px;
        }

        .save-btn {
            width: 220px;
            background: #ffffff;
            border: 1px solid #1b63d4;
            color: #1b63d4;
            border-radius: 5px;
            height: 40px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 10px;
            margin-bottom: 100px;
            line-height: normal !important;
            cursor: pointer;

            .name-btn {
                font-family: 'Cabin';
                font-weight: 700;
                font-size: 14px;
                padding-bottom: 1px;
                color: #1b63d4;
                padding-left: 10px;
            }
        }

        .save-btn:hover {
            background-color: rgb(243 244 246);
        }
    }
}